---
import { Icon } from "astro-icon";
---

<header class="bg-bonton-green">
  <div
    class="flex flex-col md:flex-row flex-wrap p-6 items-center max-w-7xl mx-auto"
  >
    <a class="mb-4 md:mb-0">
      <img
        src="./tong-yellow.svg"
        alt="Bonton Tong Logo"
        class="w-12 h-12 object-center object-contain"
      />
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center justify-center">
      <a
        href="https://www.youtube.com/@BontonTong"
        target="_blank"
        class="inline-block mr-5"
      >
        <Icon pack="mdi" name="youtube" class="w-12 h-12 text-red-500" />
      </a>
      <a
        href="https://www.facebook.com/messages/t/100992035947337"
        target="_blank"
        class="mr-5"
        ><Icon
          pack="mdi"
          name="facebook-messenger"
          class="w-10 h-10 text-blue-500"
        />
      </a>

      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdJfU6wuMoj9dUclUlYZtF93GuIMl6_kNaQB3ugaKa0tgHfRw/viewform"
        target="_blank"
        s
        class="bg-bonton-yellow order-last md:order-none mt-4 md:mt-0 text-lg mr-5 py-2 px-6"
      >
        অর্ডার করুন
      </a>
      <a class="text-lg md:text-2xl mr-5 text-bonton-yellow font-bold">
        +8809613829105
      </a>
    </nav>
  </div>
</header>
