---
---

<div class="bg-bonton-green">
  <section
    class="px-4 md:px-0 max-w-7xl mx-auto pb-36 pt-12 flex md:flex-row flex-col items-center"
  >
    <div class="md:w-1/2 w-full mb-10 md:mb-0">
      <div>
        <iframe
          class="aspect-video w-full"
          src="https://www.youtube.com/embed/5mL7H52LUfU"
          allowfullscreen></iframe>
      </div>
    </div>
    <div
      class="flex flex-col items-center text-center md:w-1/2 md:pl-16 md:items-start md:text-left"
    >
      <h1 class="sm:text-7xl text-5xl mb-4 font-bold text-bonton-yellow">
        টং এর সাথে WiFi ব্যবসা হোক আরও সহজ
      </h1>
      <p class="mb-8 text-2xl md:text-4xl text-bonton-yellow">
        টং - এর সাথে WiFi ব্যবসায় ইনভেস্টমেন্ট কম লাগে বলে, সবার জন্যই ব্যবসা
        হয়ে যায় সহজ
      </p>
      <div class="flex justify-center">
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdJfU6wuMoj9dUclUlYZtF93GuIMl6_kNaQB3ugaKa0tgHfRw/viewform"
          target="_blank"
          class="bg-bonton-yellow text-2xl md:text-4xl py-3 px-6"
        >
          অর্ডার করুন
        </a>
      </div>
    </div>
  </section>
</div>
